@import "tailwindcss/theme" layer(mantine-base);
@import "tailwindcss/preflight" layer(mantine-base);
@import "tailwindcss/utilities" layer(theme-overrides);

@config "../../tailwind.config.ts";

@source "../../src";
@source "../../../../node_modules/@wizehire/theme/dist";
@source "../../../../packages/@docs/demos/esm";
