name: Pull request workflow
permissions:
  contents: read

on:
  pull_request:
    branches:
      - '**'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.sha }}
  cancel-in-progress: true

jobs:
  test_pull_request:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version-file: '.nvmrc'
          package-manager-cache: false
      - name: Enable Corepack
        run: corepack enable
      - uses: actions/setup-node@v5
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn'
          cache-dependency-path: '**/yarn.lock'
      - name: Configure Yarn
        run: |
          yarn config set nodeLinker node-modules
          yarn config set npmScopes.wizehire.npmRegistryServer "https://npm.pkg.github.com"
          yarn config set npmScopes.wizehire.npmAuthToken "${{ secrets.WIZEHIRE_NPM_TOKEN }}"
      - name: Install dependencies
        run: yarn
      - name: Generate files for docs
        run: yarn setup
      - name: Build public packages
        run: yarn build all
      - name: Run tests
        run: yarn test
